<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.google.signin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.563977861700-n09njvp9iomu9r1dplh9etri10rdg380</string>
			</array>
		</dict>
	</array>
	<key>QuickPoseSDKKey</key>
	<string>01JPCJ8TW9A3FD1CT4PFDHY8B9</string>
</dict>
</plist>
